@font-face {
    font-family: "nintendo";
    src: url("../fonts/Pretendo.ttf");
}

body {
    font-family: "nintendo", sans-serif;
    color: black;
    background-color: rgba(186, 36, 3, 1);
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
    color: white;
}

button {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    margin-right: 10rem;
    margin-left: 10rem;
    border-radius: 0.5rem;
    font-family: "nintendo", sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.6rem;
}