/* blocks */
body {
    font-family: "Arial", "Helvetica", serif;
    color: black;
    font-size: 1rem;
    background-color: white;
}

#wrapper{
    min-height: 100vh;
    position: relative;
}

header{
    width: 70%;
    margin: 1rem auto;
}

header #moves-container-and-auctions-and-history {
    display: flex;
    flex-flow: row nowrap;
    height: 10rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    z-index: 2;
}

aside#other-players{
    position: absolute; /* relative wrapper */
    right: 1rem;
    top: 15%;
}

aside#current-place-on-game-board{
    position: absolute; /* relative wrapper */
    left: 1rem;
    top: 0;
    width: 15rem;
}

article#main-tile-deed{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
}

article#main-tile-deed div:first-of-type{
    width: 50%;
    align-self: center;
}

article#main-tile-deed div:last-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

article#properties {
    width: 70%;
    margin-bottom: 1rem;
}

article #properties-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article #properties-container article {
    flex: 1 1 30%;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
}

article #properties-container ul {
    display: flex;
    background-color: rgba(196, 196, 196, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

article #properties-container article ul li {
    flex: 0 0 30.5%;
    margin-right: 1rem;
    filter: grayscale(100%);
}

article #properties-container article ul li:last-of-type {
    margin-right: 0;
}

article #properties-container article.two-cards ul li {
    flex: 0 0 47.5%;
}

article #properties-container article[data-streettype="railroad"] ul li {
    flex: 0 0 23%;
}

article #properties-container article ul li.owned {
    filter: grayscale(0%);
}

footer{
    position: absolute; /* relative wrapper */
    left: 22vw; /* width of minimap: 20vw */
    bottom: 1rem;
    width: 77vw;
    display: flex;
    align-items: flex-end;
}

footer #property-view{
    display: flex;
    align-items: flex-end;
    width: 85%;
}

footer #small-property-container{
    width: 80%;
}

footer .partially-of-screen{
    display: inline-block;
    width: 32%;
    position: relative;
    height: 4.5rem;
    overflow: hidden;
}

footer .partially-of-screen:hover {
    overflow: inherit;
    height: 22rem;
}

footer .partially-of-screen-images{
    position: absolute; /* relative .partially-of-screen */
    top: 0;
    left: 0;
}

footer #balance{
    width: 14%;
}

body #wrapper .hidden {
    display: none;
}

/* font styling */
header h1{
    color: #DC143C;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0.02rem 0.02rem #ffffff;
    margin-bottom: 0.2rem;
}

aside#other-players h2, #properties h2, #main-tile-deed h2{
    color: #DC143C;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0.02rem 0.02rem #ffffff;
    margin-bottom: 1rem;
}

#main-tile-deed h2{
    text-align: left;
}

footer #balance h3{
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.5) 100%);
    border: 0.01rem rgba(0, 0, 0, 0.5) solid;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    padding: 5rem 1rem 5rem 1rem;
    text-align: center;
    font-size: 2rem;
}

article #properties-container h3{
    text-align: center;
    color: white;
    line-height: 3rem;
}

article #properties-container article[data-streettype="purple"] h3{
    background-color: #D73A95;
}

article #properties-container article[data-streettype="darkblue"] h3{
    background-color: #0072BB;
}

article #properties-container article[data-streettype="utilities"] h3{
    background-color: black;
}

article #properties-container article[data-streettype="lightblue"] h3{
    background-color: #81c9ec;
}

article #properties-container article[data-streettype="violet"] h3{
    background-color: #8F00FF;
}

article #properties-container article[data-streettype="orange"] h3{
    background-color: #F7941D;
}

article #properties-container article[data-streettype="red"] h3{
    background-color: #ED1B24;
}

article #properties-container article[data-streettype="yellow"] h3{
    background-color: #cbc105;
}

article #properties-container article[data-streettype="darkgreen"] h3{
    background-color: #1FB25A;
}

article #properties-container article[data-streettype="railroad"] h3{
    background-color: #676767;
}

article #properties-container article[data-streettype="jailcards"] h3{
    background-color: gray;
}

#main-tile-deed p{
    color: #DC143C;
    font-size: 2rem;
    text-shadow: 0 0.02rem 0.02rem #ffffff;
}

/* images */
img{
    max-width: 100%;
}

article#main-tile-deed img{
    width: 50%;
}

footer #small-property-container img {
    margin-right: 2rem;
    clip-path: inset(0 0 80% 0);
}

footer #small-property-container img:hover {
    clip-path: inherit;
}

footer #balance h3 span{
    background: url("../media/coin.png") no-repeat left center;
    background-size: 4rem 4rem;
    padding: 2rem 0 2rem 4.8rem;
}

/* forms */
button {
    display: block;
    color: #DC143C;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1.25rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #DC143C;
    padding: 0.35rem 0.75rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

button:hover{
    color: white;
    background-color: #DC143C;
}

header button{
    width: 40%;
    height: 3rem;
    border-radius: 0;
    margin-top: 1rem;
}

article#main-tile-deed button
{
    margin-left: 0;
    margin-right: 0;
}

article#properties > button{
    position: absolute; /* relative wrapper */
    top: 0;
    right: 1rem;
    font-size: 3rem;
    background: none;
    border: none;
    padding: 0;
    height: 8.5rem;
    margin: 0;
}

aside#other-players button{
    border-radius: 0;
    margin-bottom: 0.5rem;
    margin-right: 0;
    width: 16rem;
}

footer #property-view button{
    font-size: 8rem;
    background: none;
    border: none;
    padding: 0;
    height: 8.5rem;
    margin: 0;
}

article#properties #properties-container button{
    height: 3rem;
    align-self: flex-end;
    z-index: 2;
}

footer #property-view button:hover, article#properties > button:hover{
    color: initial;
    background-color: inherit;
}

/* minimap */
aside#map-container {
    position: absolute; /* relative wrapper */
    bottom: 1rem;
    left: 1vw;
    background-image: url("../media/monopoly-board.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas:
        "t20 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t30"
        "t20 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t30"
        "t19 t19 .   .   .   .   .   .   .   .   .   t31 t31"
        "t18 t18 .   .   .   .   .   .   .   .   .   t32 t32"
        "t17 t17 .   .   .   .   .   .   .   .   .   t33 t33"
        "t16 t16 .   .   .   .   .   .   .   .   .   t34 t34"
        "t15 t15 .   .   .   .   .   .   .   .   .   t35 t35"
        "t14 t14 .   .   .   .   .   .   .   .   .   t36 t36"
        "t13 t13 .   .   .   .   .   .   .   .   .   t37 t37"
        "t12 t12 .   .   .   .   .   .   .   .   .   t38 t38"
        "t11 t11 .   .   .   .   .   .   .   .   .   t39 t39"
        "t10 t10 t9  t8  t7  t6  t5  t4  t3  t2  t1  t0  t0"
        "t10 t10 t9  t8  t7  t6  t5  t4  t3  t2  t1  t0  t0";
}

#t0 {
    grid-area: t0;
}

#t1 {
    grid-area: t1;
}

#t2 {
    grid-area: t2;
}

#t3 {
    grid-area: t3;
}

#t4 {
    grid-area: t4;
}

#t5 {
    grid-area: t5;
}

#t6 {
    grid-area: t6;
}

#t7 {
    grid-area: t7;
}

#t8 {
    grid-area: t8;
}

#t9 {
    grid-area: t9;
}

#t10 {
    grid-area: t10;
}

#t11 {
    grid-area: t11;
}

#t12 {
    grid-area: t12;
}

#t13 {
    grid-area: t13;
}

#t14 {
    grid-area: t14;
}

#t15 {
    grid-area: t15;
}

#t16 {
    grid-area: t16;
}

#t17 {
    grid-area: t17;
}

#t18 {
    grid-area: t18;
}

#t19 {
    grid-area: t19;
}

#t20 {
    grid-area: t20;
}

#t21 {
    grid-area: t21;
}

#t22 {
    grid-area: t22;
}

#t23 {
    grid-area: t23;
}

#t24 {
    grid-area: t24;
}

#t25 {
    grid-area: t25;
}

#t26 {
    grid-area: t26;
}

#t27 {
    grid-area: t27;
}

#t28 {
    grid-area: t28;
}

#t29 {
    grid-area: t29;
}

#t30 {
    grid-area: t30;
}

#t31 {
    grid-area: t31;
}

#t32 {
    grid-area: t32;
}

#t33 {
    grid-area: t33;
}

#t34 {
    grid-area: t34;
}

#t35 {
    grid-area: t35;
}

#t36 {
    grid-area: t36;
}

#t37 {
    grid-area: t37;
}

#t38 {
    grid-area: t38;
}

#t39 {
    grid-area: t39;
}

/* temporary location for code */
#overlay {
    position: fixed; /* Place overlay in a fixed location across the entire page */
    top: 0;
    left: 0;
    z-index: 999; /* Always place overlay in front of all other elements of the html */
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

#overlay img {
    display: block;
    margin: auto;
    width: 40%;
}

#map-container div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}