body {
    font-family: "Arial", "Helvetica", serif;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
}

#wrapper{
    min-height: 100vh;
    position: relative;
}

#property-view {
    width: 60%;
}

#small-property-container img {
    width: 20%;
    margin-right: 2rem;
    clip-path: inset(0 0 80% 0);
}

#properties-container ul {
    display: flex;
}

#properties {
    width: 70%;
}

#properties-container {
    flex-flow: row wrap;
    justify-content: space-between;
}

#properties-container article {
    flex: 1 1 30%;
}

#properties-container article ul li {
    flex: 0 0 25%;
    margin-right: 1rem;
    filter: grayscale(100%);
}

#properties-container article ul li.owned {
    filter: grayscale(0%);
}

#properties-container article ul li img {
    max-width: 100%;
}

.hidden {
    display: none;
}

/* minimap */
#map-container {
    position: absolute; /* relative wrapper */
    bottom: 1rem;
    left: 1rem;
    background-image: url("../media/monopoly-board.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas:
        "t20 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t30"
        "t20 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t30"
        "t19 t19 .   .   .   .   .   .   .   .   .   t31 t31"
        "t18 t18 .   .   .   .   .   .   .   .   .   t32 t32"
        "t17 t17 .   .   .   .   .   .   .   .   .   t33 t33"
        "t16 t16 .   .   .   .   .   .   .   .   .   t34 t34"
        "t15 t15 .   .   .   .   .   .   .   .   .   t35 t35"
        "t14 t14 .   .   .   .   .   .   .   .   .   t36 t36"
        "t13 t13 .   .   .   .   .   .   .   .   .   t37 t37"
        "t12 t12 .   .   .   .   .   .   .   .   .   t38 t38"
        "t11 t11 .   .   .   .   .   .   .   .   .   t39 t39"
        "t10 t10 t9  t8  t7  t6  t5  t4  t3  t2  t1  t0  t0"
        "t10 t10 t9  t8  t7  t6  t5  t4  t3  t2  t1  t0  t0";
}

#t0 {
    grid-area: t0;
}

#t1 {
    grid-area: t1;
}

#t2 {
    grid-area: t2;
}

#t3 {
    grid-area: t3;
}

#t4 {
    grid-area: t4;
}

#t5 {
    grid-area: t5;
}

#t6 {
    grid-area: t6;
}

#t7 {
    grid-area: t7;
}

#t8 {
    grid-area: t8;
}

#t9 {
    grid-area: t9;
}

#t10 {
    grid-area: t10;
}

#t11 {
    grid-area: t11;
}

#t12 {
    grid-area: t12;
}

#t13 {
    grid-area: t13;
}

#t14 {
    grid-area: t14;
}

#t15 {
    grid-area: t15;
}

#t16 {
    grid-area: t16;
}

#t17 {
    grid-area: t17;
}

#t18 {
    grid-area: t18;
}

#t19 {
    grid-area: t19;
}

#t20 {
    grid-area: t20;
}

#t21 {
    grid-area: t21;
}

#t22 {
    grid-area: t22;
}

#t23 {
    grid-area: t23;
}

#t24 {
    grid-area: t24;
}

#t25 {
    grid-area: t25;
}

#t26 {
    grid-area: t26;
}

#t27 {
    grid-area: t27;
}

#t28 {
    grid-area: t28;
}

#t29 {
    grid-area: t29;
}

#t30 {
    grid-area: t30;
}

#t31 {
    grid-area: t31;
}

#t32 {
    grid-area: t32;
}

#t33 {
    grid-area: t33;
}

#t34 {
    grid-area: t34;
}

#t35 {
    grid-area: t35;
}

#t36 {
    grid-area: t36;
}

#t37 {
    grid-area: t37;
}

#t38 {
    grid-area: t38;
}

#t39 {
    grid-area: t39;
}