body {
    font-family: "Arial", "Helvetica", serif;
    color: black;
    background-color: white;
    font-size: 1rem;
}

.hidden
{
    display: none;
}

#login {
    background-color: lightgray;
    margin-left: 22rem;
    margin-right: 22rem;
    margin-top: 10rem;
    padding: 10rem 1rem 10rem 1rem;
    border-radius: 2rem;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    font-size: 1.9rem;
}

#login input {
    display: block;
    width: 92%;
    height: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 0.2rem;
}

button {
    display: block;
    color: red;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1.25rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #EF2D56;
    padding: 0.35rem 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
