/* fonts */
@font-face {
    font-family: "nintendo";
    src: url("../fonts/Pretendo.ttf");
}

/* blocks */
body {
    font-family: "nintendo", sans-serif;
    color: black;
    background-color: rgba(120, 144, 248, 1);
    font-size: 1rem;
}

h1 {
    color: #DC143C;
    font-size: 4rem;
    text-shadow: 0 0.02rem 0.02rem #ffffff;

    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: white;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

article {
    height: 100vh;
    margin-right: auto;
    margin-left: auto;

    background-image: url("../media/mario-level-completed.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 75%;
}

div {
    width: 100%;
    margin-top: 82vh;

    padding-top: 1rem;
    padding-bottom: 1rem;

    background-image: url("../media/super-mario-bros-level-completed-wall.png");
    background-size: 25%;
}

a {
    text-decoration: none;
    display: block;
    color: #DC143C;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1.25rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #DC143C;
    padding: 0.35rem 0.75rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
