aside#map-container {
    grid-area: 5 / 1 / 8 / 3;
    background-image: url("../../media/Monopoly_Board.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    grid-template-areas:
        "t20 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t30"
        "t20 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t30"
        "t19 t19 .   .   .   .   .   .   .   .   .   t31 t31"
        "t18 t18 .   .   .   .   .   .   .   .   .   t32 t32"
        "t17 t17 .   .   .   .   .   .   .   .   .   t33 t33"
        "t16 t16 .   .   .   .   .   .   .   .   .   t34 t34"
        "t15 t15 .   .   .   .   .   .   .   .   .   t35 t35"
        "t14 t14 .   .   .   .   .   .   .   .   .   t36 t36"
        "t13 t13 .   .   .   .   .   .   .   .   .   t37 t37"
        "t12 t12 .   .   .   .   .   .   .   .   .   t38 t38"
        "t11 t11 .   .   .   .   .   .   .   .   .   t39 t39"
        "t10 t10 t9  t8  t7  t6  t5  t4  t3  t2  t1  t0  t0"
        "t10 t10 t9  t8  t7  t6  t5  t4  t3  t2  t1  t0  t0";
}

aside#map-container img{
    max-height: 2rem;
}

aside#map-container div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
