/* fonts */
@font-face {
    font-family: "nintendo";
    src: url("../../fonts/Pretendo.ttf");
}

/* blocks */
body {
    font-family: "Arial", "Helvetica", serif;
    color: black;
    background-color: white;
    font-size: 1rem;
}

#wrapper{
    display: flex;
    height: 67.5rem;
    flex-direction: column;
    justify-content: center;
}

#wrapper .hidden
{
    display: none;
}

main{
    width: 100%;
}

#login{
    display: flex;
    align-items: flex-end;
}

article {
    background-color: lightgray;
    padding: 10rem 1rem 10rem 1rem;
    border-radius: 2rem;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

article#game-list, article#create-game-screen, article#character-screen{
    padding: 3rem;
}

article#waiting-screen, div#launch-screen{
    background-color: inherit;
    padding: 0;
}

div#error{
    margin-top: 1rem;
}

#login aside{
    width: 22.5%;
}

#character-screen div, #waiting-screen div{
    display: flex;
    flex-flow: wrap;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#launch-screen div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;
}

#launch-screen #launch-button-and-current-player{
    width: 60%;
    margin: 3rem auto 0 auto;
    justify-content: center;
    align-items: center;
}

/* font styling */
h1, h2{
    color: #DC143C;
    font-family: "nintendo", sans-serif;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0.02rem 0.02rem #ffffff;
    margin-bottom: 5rem;
}

p{
    text-align: center;
    color: #DC143C;
    font-weight: bold;
}

#game-list h2{
    display: inline-block;
    margin-bottom: 2rem;
    float: left;
}

#waiting-screen h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

figcaption{
    font-family: "nintendo", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0.8rem 0 0.5rem 0;
}

#launch-button-and-current-player figcaption{
    font-size: 1.5rem;
}

/* images */

img{
    max-width: 100%;
}

header img{
    display: block;
    width: 60%;
    margin: 0 auto 1rem auto;
}

#mario-img{
    position: relative;
    left: -6rem; /* Overlap with form */
    z-index: 999;
}

#character-screen img{
    flex: 0 0 18%;
    width: 1rem;
    padding: 0.4rem;
}

#login aside img{
    width: 100%;
}

#launch-screen div img{
    width: 5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#character-screen img:hover{
    border-radius: 5%;
    background-color: #DC143C;
}

#waiting-screen figure{
    flex: 0 0 19%;
    width: 1rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#launch-screen #launch-button-and-current-player img{
    width: 14rem;
}